@import url("https://fonts.google.com/specimen/Lexend+Deca");
@import url("https://fonts.google.com/specimen/Big+Shoulders+Display");

* {
  margin: 0;
  padding: 0;
  font-family: Lexend Deca;
}
body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
h1 {
  font-family: Big Shoulders Display;
}
.container {
  background-color: #fff;
  height: 80%;
  width: 70%;
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
}
.col-1 {
  height: 100%;
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}
.col-2 {
  height: 100%;
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}
.col-3 {
  height: 100%;
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}
.btn1 {
  color: hsl(31, 77%, 52%);
}
.btn2 {
  color: hsl(179, 100%, 13%);
}
.btn3 {
  color: hsl(179, 100%, 13%);
}
.more-btn {
  bottom: 40px;
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}
.more-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  border: solid 2px hsl(0, 0%, 95%);
}
img {
  height: 30px;
}
.carimage {
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.CarType {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.details {
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .more-btn {
    position: relative;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
  }
  .col-1 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .col-3 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
